<%= form_for(player) do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :F_name %>
    <%= f.text_field :F_name %>
  </div>

  <div class="field">
    <%= f.label :L_name %>
    <%= f.text_field :L_name %>
  </div>

  <div class="field">
    <%= f.label :DOB %>
    <%= f.date_select :DOB, :start_year => 1970, :end_year => 2020 %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :player_id %>
    <%= f.number_field :player_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
