<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @player.F_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @player.L_name %>
</p>

<p>
  <strong>DoB:</strong>
  <%= @player.DOB %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @player.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @player.height %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Player Number:</strong>
  <%= @player.player_id %>
</p>

