<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @player.F_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @player.L_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @player.DOB %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @player.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @player.height %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Player:</strong>
  <%= @player.player_id %>
</p>


	     <a href="../stats/0"><h4>Game 4</h4>
	      <p>vs. Portland Trailblazers</p></a>
