<%= form_for(opp_team) do |f| %>
  <% if opp_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opp_team.errors.count, "error") %> prohibited this opp_team from being saved:</h2>

      <ul>
      <% opp_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :home %>
    <%= f.text_field :home %>
  </div>

  <div class="field">
    <%= f.label :coach %>
    <%= f.text_field :coach %>
  </div>

  <div class="field">
    <%= f.label :owner %>
    <%= f.text_field :owner %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
