<p id="notice"><%= notice %></p>

<h1>Playerplays</h1>

<table>
  <thead>
    <tr>
      <th>Players</th>
      <th>Games</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playerplays.each do |playerplay| %>
      <tr>
        <td><%= playerplay.players %></td>
        <td><%= playerplay.games %></td>
        <td><%= link_to 'Show', playerplay %></td>
        <td><%= link_to 'Edit', edit_playerplay_path(playerplay) %></td>
        <td><%= link_to 'Destroy', playerplay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playerplay', new_playerplay_path %>
