<%= form_for(player_play) do |f| %>
  <% if player_play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player_play.errors.count, "error") %> prohibited this player_play from being saved:</h2>

      <ul>
      <% player_play.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :players_id %>
    <%= f.text_field :players_id %>
  </div>

  <div class="field">
    <%= f.label :games_id %>
    <%= f.text_field :games_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
