<p id="notice"><%= notice %></p>

<h1>Player Plays</h1>

<table>
  <thead>
    <tr>
      <th>Players</th>
      <th>Games</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_plays.each do |player_play| %>
      <tr>
        <td><%= player_play.players %></td>
        <td><%= player_play.games %></td>
        <td><%= link_to 'Show', player_play %></td>
        <td><%= link_to 'Edit', edit_player_play_path(player_play) %></td>
        <td><%= link_to 'Destroy', player_play, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player Play', new_player_play_path %>
