<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :results %>
    <%= f.text_field :results %>
  </div>

  <div class="field">
    <%= f.label :score %>
    <%= f.text_field :score %>
  </div>

  <div class="field">
    <%= f.label :w-l_stats %>
    <%= f.text_field :w-l_stats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
