<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Home away</th>
      <th>Occasion</th>
      <th>Results</th>
      <th>Score</th>
      <th>Opponents</th>
      <th>Win lose stat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.home_away %></td>
        <td><%= game.occasion %></td>
        <td><%= game.results %></td>
        <td><%= game.score %></td>
        <td><%= game.opponents %></td>
        <td><%= game.win_lose_stat %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
