<p id="notice"><%= notice %></p>

<p>
 <strong>Date:</strong>
 <%= @game.occasion %>
<p>

<p>
  <strong>Home or Away:</strong>
  <%= @game.home_away %>
</p>

<p>
  <strong>Opponents:</strong>
  <%= @game.opponents  %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.score %>
</p>

<p>
 <strong>Results:</strong>
 <%= @game.results %>

<p>
  <strong>Win-Lose Stat:</strong>
  <%= @game.win_lose_stat %>
</p>

