<p id="notice"><%= notice %></p>

<p>
  <strong>Home away:</strong>
  <%= @game.home_away %>
</p>

<p>
  <strong>Occasion:</strong>
  <%= @game.occasion %>
</p>

<p>
  <strong>Results:</strong>
  <%= @game.results %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.score %>
</p>

<p>
  <strong>Opponents:</strong>
  <%= @game.opponents %>
</p>

<p>
  <strong>Win lose stat:</strong>
  <%= @game.win_lose_stat %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
