<p id="notice"><%= notice %></p>

<h1>Stats</h1>

<table>
  <thead>
    <tr>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Fouls</th>
      <th>Points</th>
      <th>Threept stat</th>
      <th>Freethrowstat</th>
      <th>Feildgoal stat</th>
      <th>Steals</th>
      <th>Blocks</th>
      <th>Turnovers</th>
      <th>Games</th>
      <th>Players</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.rebounds %></td>
        <td><%= stat.assists %></td>
        <td><%= stat.fouls %></td>
        <td><%= stat.points %></td>
        <td><%= stat.threept_stat %></td>
        <td><%= stat.freethrowstat %></td>
        <td><%= stat.feildgoal_stat %></td>
        <td><%= stat.steals %></td>
        <td><%= stat.blocks %></td>
        <td><%= stat.turnovers %></td>
        <td><%= stat.games %></td>
        <td><%= stat.players %></td>
        <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stat', new_stat_path %>
