<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @stat.point %>
</p>

<p>
  <strong>Assist:</strong>
  <%= @stat.assist %>
</p>

<p>
  <strong>Rebound:</strong>
  <%= @stat.rebound %>
</p>

<p>
  <strong>Steal:</strong>
  <%= @stat.steal %>
</p>

<p>
  <strong>Foul:</strong>
  <%= @stat.foul %>
</p>

<p>
  <strong>Players:</strong>
  <%= @stat.players_id %>
</p>

<p>
  <strong>Games:</strong>
  <%= @stat.games %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
