<p id="notice"><%= notice %></p>

<p>
  <strong>Rebounds:</strong>
  <%= @stat.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @stat.assists %>
</p>

<p>
  <strong>Fouls:</strong>
  <%= @stat.fouls %>
</p>

<p>
  <strong>Points:</strong>
  <%= @stat.points %>
</p>

<p>
  <strong>Threept stat:</strong>
  <%= @stat.threept_stat %>
</p>

<p>
  <strong>Freethrowstat:</strong>
  <%= @stat.freethrowstat %>
</p>

<p>
  <strong>Feildgoal stat:</strong>
  <%= @stat.feildgoal_stat %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @stat.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @stat.blocks %>
</p>

<p>
  <strong>Turnovers:</strong>
  <%= @stat.turnovers %>
</p>

<p>
  <strong>Games:</strong>
  <%= @stat.games %>
</p>

<p>
  <strong>Players:</strong>
  <%= @stat.players %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
